In [1]:
import pandas as pd
import numpy as np
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
file_names = []
for file in os.listdir('data'):
    file_names.append(os.path.join('data',file))

In [3]:
file_names[0:5]

['data\\1001349.yaml',
 'data\\1001351.yaml',
 'data\\1001353.yaml',
 'data\\1004729.yaml',
 'data\\1007655.yaml']

In [4]:

counter = 1
dfs = []
for file in tqdm(file_names):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        dfs.append(df)
        counter += 1

100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1434 [06:26<00:00,  3.70it/s]

NotImplementedError:

In [5]:
final_df = pd.concat(dfs,ignore_index=True)

In [6]:
final_df.head(2)

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],male,T20,5.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],male,T20,2.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
backup = final_df.copy()

In [8]:
final_df.drop(columns=['meta.data_version',
                       'meta.created',
                       'meta.revision',
                       'info.outcome.bowl_out',
                       'info.bowl_out',
                       'info.supersubs.South Africa',
                       'info.supersubs.New Zealand',
                       'info.outcome.eliminator',
                       'info.outcome.result',
                       'info.outcome.method',
                       'info.neutral_venue',
                       'info.match_type_number',
                      'info.outcome.by.wickets',
                       'info.outcome.by.runs'
                      ],inplace=True)

In [9]:
final_df

,innings,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],male,T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],male,T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],male,T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],male,T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],male,T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],male,T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],male,T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],male,T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [10]:
final_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [11]:
final_df = final_df[final_df['info.gender']== 'male']
final_df.drop(columns='info.gender', inplace=True)
final_df

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\3509860564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns='info.gender', inplace=True)

,innings,info.dates,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],T20,Sri Lanka,20,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],T20,Australia,20,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],T20,Hong Kong,20,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],T20,Zimbabwe,20,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],T20,Pakistan,20,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],T20,India,20,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],T20,Netherlands,20,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],T20,Australia,20,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [12]:
final_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [13]:
final_df['info.match_type'].value_counts()

info.match_type
T20    966
Name: count, dtype: int64

In [14]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\1862075967.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

In [15]:
final_df

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [16]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [17]:
matches = pickle.load(open('dataset_level1.pkl','rb'))
matches

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [18]:
deliveries = matches

In [19]:
import pandas as pd

# Initialize variables
count = 1
delivery_data = []

# Iterate through each match
for index, row in deliveries.iterrows():
    if count in [75, 108, 150, 180, 268, 308, 443, 458, 584, 748, 982, 1052, 1111, 1226, 1345]:
        count += 1
        continue
    
    # Iterate through each delivery in the 1st innings
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            delivery_data.append({
                'match_id': count,
                'teams':row['info.teams'],
                'batting_team': row['innings'][0]['1st innings']['team'],
                'ball': key,
                'batsman': ball[key]['batsman'],
                'bowler': ball[key]['bowler'],
                'runs': ball[key]['runs']['total'],
                'player_dismissed': ball[key].get('wicket', {}).get('player_out', 0),
                'city': row['info.city'],
                'venue': row['info.venue']
            })
    
    count += 1

# Create DataFrame from collected data
delivery_df = pd.DataFrame(delivery_data)

# Display the final DataFrame
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,1,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,1,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,1,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,1,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,1,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
115318,963,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
115319,963,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
115320,963,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
115321,963,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
115322,963,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [20]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [21]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [22]:
delivery_df.drop(columns='teams',inplace=True)

In [23]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,1,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,1,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
115319,963,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
115320,963,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
115321,963,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
115322,963,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [24]:
teams = ['Australia','India','Bangladesh','New Zealand','South Africa','England','West Indies','Afghanistan','Pakistan','Sri Lanka']

In [25]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [26]:
delivery_df

,match_id,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,1,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,1,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,1,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,1,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,1,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
115319,963,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
115320,963,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
115321,963,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
115322,963,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [27]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','city','venue','player_dismissed']]

In [28]:
output

,match_id,batting_team,bowling_team,ball,runs,city,venue,player_dismissed
0,1,Australia,Sri Lanka,0.1,0,NaN,Melbourne Cricket Ground,0
1,1,Australia,Sri Lanka,0.2,0,NaN,Melbourne Cricket Ground,0
2,1,Australia,Sri Lanka,0.3,1,NaN,Melbourne Cricket Ground,0
3,1,Australia,Sri Lanka,0.4,2,NaN,Melbourne Cricket Ground,0
4,1,Australia,Sri Lanka,0.5,0,NaN,Melbourne Cricket Ground,0
...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,R Premadasa Stadium,0
115319,963,Sri Lanka,Australia,19.4,0,Colombo,R Premadasa Stadium,0
115320,963,Sri Lanka,Australia,19.5,0,Colombo,R Premadasa Stadium,DM de Silva
115321,963,Sri Lanka,Australia,19.6,2,Colombo,R Premadasa Stadium,0
115322,963,Sri Lanka,Australia,19.7,1,Colombo,R Premadasa Stadium,0

In [29]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [30]:
current_data = pickle.load(open('dataset_level2.pkl','rb'))

In [31]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,venue,player_dismissed
0,1,Australia,Sri Lanka,0.1,0,NaN,Melbourne Cricket Ground,0
1,1,Australia,Sri Lanka,0.2,0,NaN,Melbourne Cricket Ground,0
2,1,Australia,Sri Lanka,0.3,1,NaN,Melbourne Cricket Ground,0
3,1,Australia,Sri Lanka,0.4,2,NaN,Melbourne Cricket Ground,0
4,1,Australia,Sri Lanka,0.5,0,NaN,Melbourne Cricket Ground,0
...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,R Premadasa Stadium,0
115319,963,Sri Lanka,Australia,19.4,0,Colombo,R Premadasa Stadium,0
115320,963,Sri Lanka,Australia,19.5,0,Colombo,R Premadasa Stadium,DM de Silva
115321,963,Sri Lanka,Australia,19.6,2,Colombo,R Premadasa Stadium,0
115322,963,Sri Lanka,Australia,19.7,1,Colombo,R Premadasa Stadium,0

In [32]:
current_data.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
city                8548
venue                  0
player_dismissed       0
dtype: int64

In [33]:
current_data[current_data['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        2969
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [34]:
cities = np.where(current_data['city'].isnull(),current_data['venue'].str.split().apply(lambda x:x[0]),current_data['city'])

In [35]:
current_data['city'] = cities

In [36]:
current_data.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
city                0
venue               0
player_dismissed    0
dtype: int64

In [37]:
current_data.drop(columns=['venue'],inplace=True)

In [38]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,player_dismissed
0,1,Australia,Sri Lanka,0.1,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,1,Melbourne,0
3,1,Australia,Sri Lanka,0.4,2,Melbourne,0
4,1,Australia,Sri Lanka,0.5,0,Melbourne,0
...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,0
115319,963,Sri Lanka,Australia,19.4,0,Colombo,0
115320,963,Sri Lanka,Australia,19.5,0,Colombo,DM de Silva
115321,963,Sri Lanka,Australia,19.6,2,Colombo,0
115322,963,Sri Lanka,Australia,19.7,1,Colombo,0

In [39]:
eligible_cities = current_data['city'].value_counts()[current_data['city'].value_counts() > 600].index.tolist()

In [40]:
current_data = current_data[current_data['city'].isin(eligible_cities)]

In [41]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,player_dismissed
0,1,Australia,Sri Lanka,0.1,0,Melbourne,0
1,1,Australia,Sri Lanka,0.2,0,Melbourne,0
2,1,Australia,Sri Lanka,0.3,1,Melbourne,0
3,1,Australia,Sri Lanka,0.4,2,Melbourne,0
4,1,Australia,Sri Lanka,0.5,0,Melbourne,0
...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,0
115319,963,Sri Lanka,Australia,19.4,0,Colombo,0
115320,963,Sri Lanka,Australia,19.5,0,Colombo,DM de Silva
115321,963,Sri Lanka,Australia,19.6,2,Colombo,0
115322,963,Sri Lanka,Australia,19.7,1,Colombo,0

In [42]:
current_data['current_score'] = current_data.groupby('match_id')['runs'].cumsum()

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\3644100468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['current_score'] = current_data.groupby('match_id')['runs'].cumsum()

current_data

In [43]:
current_data['over'] = current_data['ball'].apply(lambda x:str(x).split('.')[0])
current_data['ball_no'] = current_data['ball'].apply(lambda x:str(x).split('.')[1])

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\628877590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['over'] = current_data['ball'].apply(lambda x:str(x).split('.')[0])
C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\628877590.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['ball_no'] = current_data['ball'].apply(lambda x:str(x).split('.')[1])

In [44]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,player_dismissed,current_score,over,ball_no
0,1,Australia,Sri Lanka,0.1,0,Melbourne,0,0,0,1
1,1,Australia,Sri Lanka,0.2,0,Melbourne,0,0,0,2
2,1,Australia,Sri Lanka,0.3,1,Melbourne,0,1,0,3
3,1,Australia,Sri Lanka,0.4,2,Melbourne,0,3,0,4
4,1,Australia,Sri Lanka,0.5,0,Melbourne,0,3,0,5
...,...,...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,0,125,19,3
115319,963,Sri Lanka,Australia,19.4,0,Colombo,0,125,19,4
115320,963,Sri Lanka,Australia,19.5,0,Colombo,DM de Silva,125,19,5
115321,963,Sri Lanka,Australia,19.6,2,Colombo,0,127,19,6
115322,963,Sri Lanka,Australia,19.7,1,Colombo,0,128,19,7

In [45]:
current_data['balls_bowled'] = (current_data['over'].astype('int') * 6 ) + (current_data['ball_no'].astype('int'))

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\3981126001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['balls_bowled'] = (current_data['over'].astype('int') * 6 ) + (current_data['ball_no'].astype('int'))

In [46]:
current_data['balls_left'] = 120 - current_data['balls_bowled']
current_data['balls_left'] = current_data['balls_left'].apply(lambda x:0 if x<0 else x)

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2495246209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['balls_left'] = 120 - current_data['balls_bowled']
C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2495246209.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['balls_left'] = current_data['balls_left'].apply(lambda x:0 if x<0 else x)

In [47]:
current_data['player_dismissed'] = current_data['player_dismissed'].apply(lambda x:0 if x==0 else 1)
current_data['player_dismissed'] = current_data['player_dismissed'].astype('int')
current_data['player_dismissed'] = current_data.groupby('match_id')['player_dismissed'].cumsum()
current_data['wickets_left'] = 10 - current_data['player_dismissed']

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2144426205.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['player_dismissed'] = current_data['player_dismissed'].apply(lambda x:0 if x==0 else 1)
C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2144426205.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['player_dismissed'] = current_data['player_dismissed'].astype('int')
C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2144426205.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['player_dismissed'] = current_data.groupby('match_id')['player_dismissed'].cumsum()
C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2144426205.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['wickets_left'] = 10 - current_data['player_dismissed']

In [48]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,player_dismissed,current_score,over,ball_no,balls_bowled,balls_left,wickets_left
0,1,Australia,Sri Lanka,0.1,0,Melbourne,0,0,0,1,1,119,10
1,1,Australia,Sri Lanka,0.2,0,Melbourne,0,0,0,2,2,118,10
2,1,Australia,Sri Lanka,0.3,1,Melbourne,0,1,0,3,3,117,10
3,1,Australia,Sri Lanka,0.4,2,Melbourne,0,3,0,4,4,116,10
4,1,Australia,Sri Lanka,0.5,0,Melbourne,0,3,0,5,5,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,8,125,19,3,117,3,2
115319,963,Sri Lanka,Australia,19.4,0,Colombo,8,125,19,4,118,2,2
115320,963,Sri Lanka,Australia,19.5,0,Colombo,9,125,19,5,119,1,1
115321,963,Sri Lanka,Australia,19.6,2,Colombo,9,127,19,6,120,0,1
115322,963,Sri Lanka,Australia,19.7,1,Colombo,9,128,19,7,121,0,1

In [49]:
current_data['crr'] = (current_data['current_score'] * 6) / current_data['balls_bowled']

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2259731717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['crr'] = (current_data['current_score'] * 6) / current_data['balls_bowled']

In [50]:
current_data

,match_id,batting_team,bowling_team,ball,runs,city,player_dismissed,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,1,Australia,Sri Lanka,0.1,0,Melbourne,0,0,0,1,1,119,10,0.000000
1,1,Australia,Sri Lanka,0.2,0,Melbourne,0,0,0,2,2,118,10,0.000000
2,1,Australia,Sri Lanka,0.3,1,Melbourne,0,1,0,3,3,117,10,2.000000
3,1,Australia,Sri Lanka,0.4,2,Melbourne,0,3,0,4,4,116,10,4.500000
4,1,Australia,Sri Lanka,0.5,0,Melbourne,0,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115318,963,Sri Lanka,Australia,19.3,1,Colombo,8,125,19,3,117,3,2,6.410256
115319,963,Sri Lanka,Australia,19.4,0,Colombo,8,125,19,4,118,2,2,6.355932
115320,963,Sri Lanka,Australia,19.5,0,Colombo,9,125,19,5,119,1,1,6.302521
115321,963,Sri Lanka,Australia,19.6,2,Colombo,9,127,19,6,120,0,1,6.350000
115322,963,Sri Lanka,Australia,19.7,1,Colombo,9,128,19,7,121,0,1,6.347107

In [51]:
groups = current_data.groupby('match_id')
match_ids = current_data['match_id'].unique()
last_five = []
for id in match_ids:
    group = groups.get_group(id)
    rolling_sum = group['runs'].rolling(window = 30).sum()
    last_five.extend(rolling_sum.values.tolist())

In [52]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [53]:
current_data['last_five'] = last_five

C:\Users\PMLS\AppData\Local\Temp\ipykernel_2292\2235842386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_data['last_five'] = last_five

In [54]:
final_df = current_data.groupby('match_id')['runs'].sum().reset_index().merge(current_data,on='match_id')

In [60]:
final_df = final_df[['batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [61]:
final_df.dropna(inplace=True)

In [62]:
final_df = final_df.sample(final_df.shape[0])

In [63]:
final_df.sample(2)

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
15491,West Indies,Bangladesh,Johannesburg,92,44,9,7.263158,43.0,164
30688,Pakistan,England,Dubai,77,47,5,6.328767,20.0,144

In [83]:
final_df.dtypes

batting_team      object
bowling_team      object
city              object
current_score      int64
balls_left         int64
wickets_left       int32
crr              float64
last_five        float64
runs_x             int64
dtype: object

In [64]:
 X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [67]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\pmls\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\pmls\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\pmls\anaconda3\lib\site-packages (from xgboost) (1.11.1)
Note: you may need to restart the kernel to use updated packages.

In [68]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [69]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [70]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate= 0.2,max_depth=12,random_state=1))
])

In [71]:
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

C:\Users\PMLS\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.988340224508509
1.6334029537199437

In [72]:
pickle.dump(pipe,open('pipe.pkl','wb'))

In [73]:
teams

['Australia',
 'India',
 'Bangladesh',
 'New Zealand',
 'South Africa',
 'England',
 'West Indies',
 'Afghanistan',
 'Pakistan',
 'Sri Lanka']

In [74]:
eligible_cities

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Abu Dhabi',
 'Manchester',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']